.paay-button-box {
    height: 90px !important;
    padding-top: 10px !important;
    clear: both !important;
    overflow: hidden !important;
}
.paay-button-box .paay-input {
    text-align: right !important;
    width: 160px !important;
    border-radius: 5px !important;
    padding: 5px !important;
    display: block;
    float: right !important;
    background-color: #ffffff !important;

    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
.paay-button-box .paay-text {
    color: #699A4F !important;
    display: block;
    font-size: 12px !important;
    height: 12px !important;
    line-height: 12px !important;
    margin-bottom: 5px !important;
}
.paay-button-box .paay-phone {
    height: 32px !important;
    padding: 0px 0px 0px 5px !important;
    margin: 0px !important;
    border-top: 1px solid #999999 !important;
    border-bottom: 1px solid #999999 !important;
    border-left: 1px solid #999999 !important;
    border-right: 0px !important;
    border-radius: 5px 0 0 5px !important;
    width: 103px !important;
    vertical-align: top !important;
    line-height: 30px !important;
    float: left !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-family: 'Source Sans Pro', Helvetica, sans-serif !important;

    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
.paay-button-box .paay-button {
    width: 57px !important;
    background: url("../images/paay/stretchsprite.png") repeat scroll right -80px transparent !important;
    border: 0 none !important;
    color: #FFFFFF !important;
    cursor: pointer !important;
    font-size: 16px !important;
    font-weight: bold !important;
    font-family: 'Source Sans Pro', Helvetica, sans-serif !important;
    height: 32px !important;
    text-shadow: 0 -1px 0 #666666 !important;
    vertical-align: top !important;
    padding: 0 6px !important;
    text-transform: uppercase !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    float: right !important;
}
#paay_overlay {
    bottom: 0 !important;
    display: none;
    font-family: 'arial' !important;
    left: 0 !important;
    position: fixed !important;
    right: 0 !important;
    top: 0 !important;
    z-index: 2147483647 !important;
}
#paay_overlay.checkout {
    display: block;
}
#paay_overlay .paay_background {
    background-color: #FFFFFF !important;
    height: 100% !important;
    opacity: 0.75 !important;
    position: absolute !important;
    width: 100% !important;
}
#paay_overlay #paay_status_window {
    background: url("../images/paay/bg.png") repeat scroll 0 0 transparent !important;
    border-radius: 5px 5px 5px 5px !important;
    box-shadow: 0 0 65px 0 #666666 !important;
    height: 300px !important;
    left: 50% !important;
    margin-left: -200px !important;
    margin-top: -150px !important;
    position: absolute !important;
    text-align: center !important;
    top: 50% !important;
    width: 541px !important;
}
#paay_overlay .paay_logo {
    background: url("../images/paay/sprite.png") no-repeat scroll center bottom transparent !important;
    height: 55px !important;
    margin-top: 15px !important;
}
#paay_overlay .close_button {
    background: url("../images/paay/sprite.png") no-repeat scroll 0 0 transparent !important;
    cursor: pointer !important;
    height: 15px !important;
    position: absolute !important;
    right: 5px !important;
    top: 10px !important;
    width: 15px !important;
}
#paay_overlay .dark_shadow_text {
    text-shadow: 0 -1px 0 #666666 !important;
}
#paay_overlay .white_text {
    color: #FFFFFF !important;
    font-size: 15px !important;
}
#paay_overlay .green_text {
    color: #335C1C !important;
}
#paay_overlay .paay_status_area {
    background: url("../images/paay/stretchsprite.png") repeat scroll 0 -600px transparent !important;
    height: 51px !important;
    margin: 5px auto !important;
    padding: 1px !important;
    position: relative !important;
    width: 300px !important;
}
#paay_overlay .paay_status_area > .left, #paay_overlay .paay_status_area > .right {
    background: url("../images/paay/stretchsprite.png") repeat scroll right -660px transparent !important;
    float: right !important;
    height: 51px !important;
    margin-right: -16px !important;
    margin-top: -1px !important;
    width: 15px !important;
}
#paay_overlay .paay_status_area > .left {
    background-position: 0 -540px !important;
    float: left !important;
    margin-left: -16px !important;
}
#paay_progress, #paay_status_bar {
    background: url("../images/paay/stretchsprite.png") repeat scroll 0 -500px transparent !important;
    height: 10px !important;
    margin: 8px auto !important;
    position: relative !important;
    width: 240px !important;
}
#paay_progress > .left, #paay_progress > .right, #paay_status_bar > .left, #paay_status_bar > .right {
    background: url("../images/paay/stretchsprite.png") repeat scroll right -520px transparent !important;
    float: right !important;
    height: 10px !important;
    margin-right: -10px !important;
    width: 10px !important;
}
#paay_status_bar > .left {
    background-position: 0 -480px !important;
    margin-left: -10px !important;
    margin-right: auto !important;
}
#paay_progress {
    background-position: 0 -750px !important;
    left: 0 !important;
    margin: 0 !important;
    position: absolute !important;
    width: 1% !important;
}
#paay_progress > .right {
    background-position: right -770px !important;
}
#paay_progress > .left {
    background-position: 0 -730px !important;
    float: left !important;
    margin-left: -10px !important;
    margin-right: auto !important;
}
#paay_status_text {
    padding-top: 10px !important;
    color: #000000 !important;
    font-size: 18px !important;
    line-height: 35px !important;
    margin: auto !important;
    position: relative !important;
    width: 480px !important;
}
#paay_hash_tag {
    margin-top: 10px !important;
    font-size: 18px !important;
    color: #254e10 !important;
}
#paay_overlay #paay_overlay_buttons {
    bottom: 50px !important;
    position: absolute !important;
    text-align: center !important;
    width: 100% !important;
}
#paay_overlay .paay_refresh_notice {
    bottom: 10px !important;
    position: absolute !important;
    text-align: center !important;
    width: 100% !important;
}
#paay_help_button, #paay_cancel_button {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    text-decoration: underline !important;
}
i.icon_resend {
    background: url("../images/paay/sprite.png") repeat scroll -3px -20px transparent !important;
    float: left !important;
    height: 18px !important;
    margin-right: 5px !important;
    margin-top: 6px !important;
    width: 18px !important;
}
#paay_resend_button {
    background: url("../images/paay/stretchsprite.png") repeat scroll 0 -160px transparent !important;
    border: medium none !important;
    border-radius: 5px 5px 5px 5px !important;
    color: #FFFFFF !important;
    cursor: pointer !important;
    font-size: 16px !important;
    font-weight: bold !important;
    height: 34px !important;
    line-height: 32px !important;
    overflow: visible !important;
    padding: 0 10px !important;
    text-shadow: 0 -1px 0 #666666 !important;
}
#paay_resend_button > .left, #paay_resend_button > .right {
    background: url("../images/paay/stretchsprite.png") repeat scroll right -200px transparent !important;
    border: 1px solid red !important;
    display: none;
    float: right !important;
    height: 34px !important;
    margin-right: -10px !important;
    padding: 0 !important;
    width: 10px !important;
}
#paay_resend_button > .left {
    float: left !important;
    margin: 0 auto 0 -10px !important;
}

.cart .checkout-types .paay-or {
    line-height: 2.3 !important;
    margin: 0 8px !important;
}

.cart .totals .checkout-types .paay-or {
    clear: both !important;
    display: block;
    font-size: 11px !important;
    line-height: 1 !important;
    padding: 8px 55px 0 0 !important;
}

.block-cart .actions .paay-or {
    clear: both !important;
    display: block;
    padding: 8px 55px 8px 0 !important;
}

.paay_button {
    margin: 12px 20px !important;
    width: 125px !important;
    display: inline-block;
    background: url("../images/paay/btn.png") repeat scroll 0 0px transparent !important;
    color: #FFFFFF !important;
    cursor: pointer !important;
    font-size: 13px !important;
    font-weight: bold !important;
    height: 36px !important;
    line-height: 36px !important;
    text-shadow: 0 -1px 0 #666666 !important;
}

.paay_button, .paay_button:link, .paay_button:visited {
    color: #ffffff !important;
}

.paay_button:hover {
    text-decoration: none !important;
    color: #FFFFFF !important;
}

.paay-box { 
    border: 2px solid #3e7925 !important;
    color: #3e7925 !important;
    background-color: #ffffff !important;
    border-radius: 5px !important;
    padding: 3% 5% !important;
}
.paay-box.paay-type-error { 
    border: 2px solid red !important;
}
.paay-box .paay-header { 
    display: block;
    margin: 5px auto !important;
    width: 30% !important;
}
.paay-box .paay-info { 
    color: #666 !important;
}
.paay-box label { 
    display: inline-block;
    width: 20% !important;
}
.paay-box input, .paay-box select, .paay-box textarea { 
    width: 80% !important;
    background-color: #ffffff !important;
    color: #000000 !important;
}
.paay-box ul { 
    list-style: none !important;
    margin: 0px !important;
    padding: 0px !important;
}
.paay-box ul li { 
    list-style: none !important;
    margin: 5px 0px !important;
    padding: 0px !important;
}
.paay-box input[type="submit"] { 
    width: 100% !important;
    background-color: #3e7925 !important;
    color: #ffffff !important;
}
.paay-box .paay-terms { 
    margin: 5px 0px 0px 0px !important;
}
.paay-box .paay-terms ul { 
    clear: both !important;
    overflow: hidden !important;
}
.paay-box .paay-terms ul li { 
    display: inline;
    padding: 0 20px !important;
    margin: 0px !important;
}
.paay-box .paay-terms a, .paay-box .paay-terms a:hover { 
    color: #3e7925 !important;
    font-size: 0.8em !important;
    text-decoration: none !important;
}
.paay-box .paay-terms a:hover { 
    text-decoration: underline !important;
}